<div class="detalle-libro-container" *ngIf="libro">
  <div class="libro-info">
    <h1>{{ libro.titulo }}</h1>
    <img class="libro-imagen" [src]="libro.imagen_url" alt="Portada del libro" (error)="imgError($event)">
    <div class="libro-detalles">
      <p><strong>Autor:</strong> {{ libro.autor_id.nombre }}</p>
      <p><strong>Descripción:</strong> {{ libro.descripcion }}</p>
      <p><strong>Género:</strong> {{ libro.genero_id.nombre }}</p>
    </div>
  </div>
  <div class="resenas">
    <div class="escribir-resena">
      <h3>Escribe tu reseña</h3>
      <label for="calificacion">Calificación:</label>
      <div class="estrellas">
        <span *ngFor="let i of [1, 2, 3, 4, 5]"
              class="fa fa-star"
              [class.brillante]="i <= calificacion"
              (mouseover)="hoverEstrella(i)"
              (click)="seleccionarCalificacion(i)">
        </span>
      </div>
      <label for="resena">Reseña:</label>
      <textarea id="resena" [(ngModel)]="resena"></textarea>
      <button (click)="escribirResena()">Enviar Reseña</button>
    </div>
    <h2>Reseñas</h2>
    <div class="calificacion-promedio">
      <span>Calificación Promedio:</span>
      <div class="estrellas">
        <span *ngFor="let i of generarEstrellas(calificacionPromedio)">
          <i class="fa fa-star"></i>
        </span>
      </div>
    </div>
    <div *ngIf="resenias.length > 0">
      <div *ngFor="let resenia of resenias" class="reseña-item">
        <div class="estrellas">
          <span *ngFor="let i of generarEstrellas(resenia.puntuacion)">
            <i class="fa fa-star"></i>
          </span>
        </div>
        <p><strong>Usuario:</strong> {{ resenia.usuario_id.nombre }} {{ resenia.usuario_id.apellido }}</p>
        <p><strong>Reseña:</strong> {{ resenia.comentario }}</p>
        <hr>
      </div>
    </div>
    <div *ngIf="resenias.length === 0">
      <p>No hay reseñas disponibles para este libro.</p>
    </div>
  </div>
</div>
