.libros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.libro-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.libro-card img {
    width: 70%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.libro-card h3 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
}

.libro-card p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.libro-actions {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px;
}

.libro-actions button {
    background-color: #955b5b; /* Morado */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.libro-actions button:hover {
    background-color: #760b0b; /* Morado más oscuro */
}

/*
-------------------------------------------------
------------- Responsive----------------------
.------------------------------------------------
*/

@media (max-width: 768px) {
    .search-container input {
        width: 80%;
    }

    .libros-container {
        flex-direction: column;
        align-items: center;
    }
}
