<!-- CONTENEDOR PRINCIPAL -->
<div class="catalog-container">
    <!-- BUSCADOR -->
    <div class="search-container">
        <input type="text" placeholder="Buscar productos..." (input)="onSearch($event)">
    </div>
    <!-- CONTENEDOR PRINCIPAL DE PRODUCTOS Y FILTROS -->
    <div class="main-content">
        <!-- PRODUCTOS -->
        <div class="products-container">
            <div class="product-card" *ngFor="let product of filteredProducts">
                <img [src]="product.image" alt="{{product.name}}" (error)="imgError($event)">
                <br>
                <br>
                <h3>{{product.name}}</h3>
                <p>
                    {{product.description | slice:0:100}}
                    <span *ngIf="product.description.length > 100">...</span>
                    <span *ngIf="product.showFullDescription">{{product.description.slice(100)}}</span>
                    <a href="#" (click)="toggleDescription(product, $event)">
                      {{product.showFullDescription ? 'Leer menos' : 'Leer más'}}
                    </a>
                  </p>
                <p class="price">{{product.price | currency}}</p>
                <div class="product-actions">
                    <a [routerLink]="['/admin/detail-book', product._id]" class="btnaction">Ver</a>
                </div>
            </div>
        </div>
        <!-- FIN PRODUCTOS -->
    </div>
    <!-- FIN CONTENEDOR PRINCIPAL DE PRODUCTOS Y FILTROS -->
</div>
<!-- FIN CONTENEDOR PRINCIPAL -->
<br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
            <a class="page-link">Next</a>
        </li>
    </ul>
</nav>
