
<!-- INICIO SIDE-BAR--> 
<input type="checkbox" id="menu-toggle" class="menu-toggle">
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <a routerLink="/user" class="sidebar-header-link">
         <img src="../../../assets/db.png" alt="Imagen de base de datos" class="sidebar-img">
         <h3 class="sidebar-title">BD2</h3>
        </a>
      </div>
    <ul class="nav-list">
        <li><a routerLink="/user/profile"><i class="fas fa-address-book"></i> Mi perfil </a></li>
        <li><a routerLink="/user/autores"><i class="fas fa-book"></i> Autores </a></li>
        <li><a routerLink="/user/catalogue"><i class="fas fa-plus-square"></i> Catalogo</a></li>
        <li><a routerLink="#"><i class="fas fa-shopping-cart"></i> Carrito </a></li>
        <li><a routerLink="#"><i class="fas fa-history"></i> Historial de Ventas</a></li>
        <li><a routerLink="/user/resenia"><i class="fas fa-pen"></i> Escribir Reseña</a></li>
        <li><a routerLink="/user/my-orders"><i class="fas fa-truck"></i> Mis pedidos</a></li>
        <li><a routerLink="#"><i class="fas fa-window-close"></i> Cerrar Session</a></li>        
    </ul>
</div>
<!-- FIN SIDE-BAR--> 


<!-- INICIO Nav-Bar--> 
<div class="main-content">
    <div class="top-nav">
        <label for="menu-toggle" class="menu-btn"><i class="fas fa-bars"></i></label>
        <span class="user-name">Proyecto 2 - BookStore USAC</span>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- FIN SIDE-BAR--> 
