<br>
<br>
<div class="container">
  <div *ngIf="autor">
    <div class="row mb-4">
      <div class="col-md-4 text-center">
        <h2>{{ autor.nombre }}</h2>
        <br>
        <img [src]="autor.foto_url" alt="{{ autor.nombre }}" class="img-fluid" (error)="imgError($event)">
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <p class="w-100"><strong>Biografía:</strong> {{ autor.biografia }}</p>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-12">
        <h3>Libros</h3>
        <div *ngFor="let libro of autor.libros" class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" [attr.id]="'heading' + libro._id">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + libro._id" aria-expanded="false" [attr.aria-controls]="'collapse' + libro._id">
                {{ libro.titulo }}
              </button>
            </h2>
            <div [id]="'collapse' + libro._id" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + libro._id" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-md-4">
                    <img [src]="libro.imagen_url" alt="{{ libro.titulo }}" class="img-fluid">
                  </div>
                  <div class="col-md-8">
                    <p>{{ libro.descripcion }}</p>
                    <p><strong>Género:</strong> {{ libro.genero_id.nombre }}</p>
                    <p><strong>Fecha de Publicación:</strong> {{ libro.fecha_publicacion | date }}</p>
                    <p><strong>Stock:</strong> {{ libro.cantidad_stock }}</p>
                    <p><strong>Puntuación Promedio:</strong> {{ libro.puntuacion_promedio }}</p>
                    <p><strong>Precio:</strong> {{ libro.precio | currency }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
