<section class="container-fluid py-4" style="background-color: #ffffff">
    <div class="card py-4 px-4">
        <h3 class="mb-5 text-uppercase text-center">
            Resumen Pedido
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Cant. libros</th>
                                <th scope="col">Total</th>
                                <th scope="col">Direccion de envio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">{{cantidad}}</td>
                                <td >Q {{total}}</td>
                                <td>{{direccion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-2">
                    Detalles
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Cant.</th>
                                <th scope="col">Libro</th>
                                <th scope="col">P/U</th>
                                <th scope="col">Sub Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(libroPedido of librosPedio; track $index){
                                <tr>
                                    <th scope="row">
                                        {{libroPedido.cantidad_pedido}}
                                    </th>
                                    <td>{{libroPedido.titulo}} </td>
                                    <td >Q {{(libroPedido.precio).toFixed(2)}}</td>
                                    <td >Q {{ (libroPedido.cantidad_pedido *
                                        libroPedido.precio).toFixed(2) }}</td>
                                    <td class="text-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                          </svg>
    
                                    </td>
                                </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>