<section class="container-fluid py-4" style="background-color: #ffffff">
    <div class="card py-4 px-4 mx-5">
        <h4 class="mb-5 text-uppercase text-center">
            Administracion de pedidos
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Direecion envio</th>
                                <th scope="col">Fecha de pedido</th>
                                <th scope="col">Detalles</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>