<form class="row g-2" [formGroup]="accountDataForm">
    <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="text" id="email" placeholder="nick@example.com" formControlName="email"
            [ngClass]="accountDataForm.get('email')?.touched ? (accountDataForm.get('email')?.invalid ? 'is-invalid' : '') : ''"
        >
    </div>
    <div class="col-12">
        <label for="password" class="form-label">Contraseña</label>
        <input class="form-control" type="password" id="password" placeholder="••••••••" formControlName="contrasenia"
            [ngClass]="accountDataForm.get('contrasenia')?.touched ? (accountDataForm.get('contrasenia')?.invalid ? 'is-invalid' : '') : ''"
        >
    </div>
    <div class="col-12">
        <label for="cpassword" class="form-label">Confirmar Contraseña</label>
        <input class="form-control" type="password" id="cpassword" placeholder="••••••••" formControlName="c_contrasenia"
            [ngClass]="accountDataForm.get('c_contrasenia')?.touched ? (accountDataForm.get('c_contrasenia')?.invalid ? 'is-invalid' : '') : ''"
        >
    </div>
</form>