/*
-------------------------------------------------
------------- Configuración Contenedor Principal y Buscador ----------------------
-------------------------------------------------
*/
.catalog-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .search-container {
    width: 100%;
  }
  
  .search-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #955b5b; /* Color contorno */
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .search-container input:focus {
    border-color: #5b2f2f;
    box-shadow: 0 0 5px rgba(91, 47, 47, 0.5); /* Sombra */
  }
  
  /*
  -------------------------------------------------
  ------------- Configuración Productos y Filtros ----------------------
  -------------------------------------------------
  */
  .main-content {
    display: flex;
    gap: 20px;
  }
  
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    flex: 1;
  }
  
  .product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
  }
  
  .product-card img {
    width: 70%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .product-card h3 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
  }
  
  .product-card .price {
    font-weight: bold;
    color: #955b5b; /* Color morado */
    margin-bottom: 10px;
  }
  
  .product-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .product-actions button {
    background-color: #955b5b; /* Morado */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-actions button:hover {
    background-color: #760b0b; /* Morado más oscuro */
  }
  
  .filters-container {
    width: 250px; /* Ancho fijo para los filtros */
    padding: 10px;
    border: 2px solid #955b5b; /* Color contorno */
    border-radius: 5px;
    align-self: flex-start; /* Alineación a la izquierda */
  }
  
  .filters-container input,
  .filters-container button,
  .price-slider,
  .rating-slider {
    margin-bottom: 10px;
  }
  
  .filters-container input,
  .filters-container button {
    width: calc(100% - 20px); /* Ancho ajustado */
    padding: 8px;
    font-size: 14px;
    border: 2px solid #955b5b; /* Color contorno */
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .filters-container input:focus,
  .filters-container button:focus {
    border-color: #5b2f2f;
    box-shadow: 0 0 5px rgba(91, 47, 47, 0.5); /* Sombra */
  }
  
  .filters-container button {
    background-color: #955b5b; /* Morado */
    color: #fff;
    cursor: pointer;
  }
  
  .filters-container button:hover {
    background-color: #760b0b; /* Morado más oscuro */
  }
  
  .price-slider,
  .rating-slider {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .price-slider label,
  .rating-slider label {
    font-size: 14px;
    color: #333;
  }
  
  /*
  -------------------------------------------------
  ------------- Responsive----------------------
  -------------------------------------------------
  */
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;
      align-items: center;
    }
  
    .filters-container {
      width: 100%;
    }
  }
  