<!-- INICIO BUSCADOR--> 
<div class="search-container">
    <input type="text" placeholder="Buscar productos..." (input)="onSearch($event)">
</div>
<!-- FIN BUSCADOR--> 

<!-- INICIO CONTENEDOR DE PRODUCTOS--> 
<div class="products-container">
    <div class="product-card" *ngFor="let product of filteredProducts">
      <img [src]="product.image" alt="{{product.name}}">
      <h3>{{product.name}}</h3>
      <p>{{product.description}}</p>
      <p class="price">{{product.price | currency}}</p> <!-- Muestra el precio aquí -->
      <div class="product-actions">
        <button (click)="addToCart(product)">Ver</button>
      </div>
    </div>
  </div>
<!--FIN CONTENEDOR PRODUCTOS--> 