<section class="container py-4" style="background-color: #ffffff">
    <div class="card py-4 px-4">
        <h3 class="mb-5 text-uppercase text-center">
            Carrito de compras
        </h3>
        <div class="row">
            <div class="col-md-8">
                Checkout
                <div>
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Cant.</th>
                                <th scope="col">Libro</th>
                                <th scope="col">P/U</th>
                                <th scope="col">Sub Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input type="number" max="99" class="form-control" style="width: 70px;">
                                </th>
                                <td>Divina comedia lifnadfoadfa </td>
                                <td class="text-center">5</td>
                                <td class="text-center">2</td>
                                <td class="text-center">x</td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <input type="number" max="99" class="form-control" style="width: 70px;">
                                </th>
                                <td>Divina </td>
                                <td class="text-center">Q5</td>
                                <td class="text-center">Q2</td>
                                <td class="text-center">x</td>
                            </tr>
                            <tr>
                                <td class="text-end" colspan="3">Total: </td>
                                <td class="text-center">Q 55.00</td>
                                <td></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light ">
                        Borrar Carrito
                    </button>
                    <button type="button" class="btn btn-primary ms-2">
                        Confirmar pedido
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <h6 class="text-center mb-4">Tu informacion para la compra</h6>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Direccion de envio</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                            placeholder="7ma calle zona 4, Mixco...">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Forma de pago</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Efectivo</option>
                            <option value="1">Efectivo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>