<div class="container d-flex flex-column h-100">
    <div class="row m-4">
        <div class="col-12 text-center mb-4 mt-4">
            <h2 class="fw-bold" >Registrate</h2>
        </div>
        <div [hidden]="currentStep !== 1">
            <auth-user-data-form #firstForm/>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-lg btn-primary mt-4 rounded-circle" (click)="continue()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                </button>
            </div>
        </div>
        <div [hidden]="currentStep !== 2">
            <auth-account-data-form #secondForm/>
            <div class="col-12 d-flex justify-content-center pt-4">
                <button class="btn btn-lg btn-primary rounded-circle mx-2" (click)="goBack()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                </button>
                <button class="btn btn-lg btn-success rounded-circle mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="mt-auto">
        <div class="border-bottom mx-4 mb-3"></div>
        <div class="text-end px-5 mt-auto pb-3">
            <span class="mx-2">¿Ya tienes cuenta?</span>
            <a routerLink="/auth/sign-in" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Inicia Sesión
            </a>
        </div>
    </div>
</div>
